input {
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    margin-top: 20%;
    border: solid black;
}

#nomeDaCor {
    border: solid black;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 350px;
    padding: 10px;
}
